body {
    background: black;
    color: lime;
    font-family: Impact, Arial, sans-serif;
    text-align: center;
    margin-top: 30px;
    animation: flashBg 0.25s infinite alternate;
}

@keyframes flashBg {
    from { background: black; }
    to { background: darkred; }
}

input, button {
    padding: 14px;
    font-size: 18px;
    margin: 6px;
}

#stop {
    background: red;
    color: white;
    font-weight: bold;
}
